doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/resources/sap-ui-core.js", id="sap-ui-bootstrap", data-sap-ui-theme="sap_bluecrystal", data-sap-ui-libs="sap.m")

    script.
        sap.ui.getCore().attachInit(function () {
            sap.ui.require([
                "sap/m/Shell",
                "sap/ui/core/ComponentContainer"
            ], function (Shell, ComponentContainer) {
                // initialize the UI component
                new Shell({
                    app: new ComponentContainer({
                    height : "100%",
                    name : "sap.ui.demo.masterdetail"
                    })
                }).placeAt("content");
            });
        });
  body.sapUiBody
    block content
